# DOMAIN_NAME and SUBDOMAIN together determine where n8n will be reachable from
# The top level domain to serve from
#
# ATTENTION: Adjust DNS such like /etc/hosts ... n8n.me.localai 127.0.0.1
DOMAIN_NAME=me.localai

# The subdomain to serve from
SUBDOMAIN=n8n

# The above example serve n8n at: https://n8n.me.localai

# Optional timezone to set which gets used by Cron and other scheduling nodes
# New York is the default value if not set
GENERIC_TIMEZONE=Asia/Tokyo

# The email address to use for the TLS/SSL certificate creation
SSL_EMAIL=user@example.com
